.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    /*Let's get a background going here*/
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    /*Animate dem images all up in here*/
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    /*Animate dos titles all around here*/
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 220px;
    padding: 0;
    line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3.jpg);
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    /*We don't want all the animations all at once. Keep calm and delay on! */
}

.cb-slideshow li:nth-child(2) div {
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(3) div {
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(4) div {
    /*We don't want all the animations all at once. Keep calm and delay on! */
}
.cb-slideshow li:nth-child(5) div {
    /*We don't want all the animations all at once. Keep calm and delay on! */
}

/* Animation for the slideshow images */
/*Hint: Keyframes*/


/* Animation for the title */
/*Hint: Keyframes Again*/


/* This is from Modernizr: Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}
