html, body {
  background-image: url(images/background.gif);
  z-index: 0;
}

.bmenu {
    width: 400px;
    z-index: 3;
}
.bmenu li {
  color: white;
  font-size: 20px;
}
.bmenu li a{
  color: white;
}

#sun {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1;
}

#saturn {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 200px;
  z-index: 2;
  /*Autobots Transform! and animate if you're feeling up to it (you should be)*/

}

/*keyframes need we shall*/
